
@mixin breadcrumb-builder($size, $color-map, $styleClass: '') {

  @if $styleClass != '' {
    $styleClass: '.' + $styleClass;
  }

  $sizeClassName: '';
  @if $size != 'medium' {
    $sizeClassName: '.' + $size;
  }

  .breadcrumb#{$sizeClassName}#{$styleClass}  {
    @include horizontal-list;

    $height: map-get($geometry, $size);
    $color: map-get($color-map, base);

    li {
      &,
      > a {
        height: $height;
        line-height: $height - 2;

        color: $color;
      }

      padding: 0 18px 0 10px;
      border: 1px solid $color;
      border-radius: $border-radius;
      background-color: white;

      @include font-size($size);

      margin-left: -10px;

      &:last-of-type {
        padding-right: 10px;
        color: white;
        background-color: $color;
      }
    }
  }
}

@include breadcrumb-builder(tiny, $clr-default);
@include breadcrumb-builder(tiny, $clr-primary, 'primary');
@include breadcrumb-builder(tiny, $clr-secondary, 'secondary');

@include breadcrumb-builder(small, $clr-default);
@include breadcrumb-builder(small, $clr-primary, 'primary');
@include breadcrumb-builder(small, $clr-secondary, 'secondary');

@include breadcrumb-builder(medium, $clr-default);
@include breadcrumb-builder(medium, $clr-primary, 'primary');
@include breadcrumb-builder(medium, $clr-secondary, 'secondary');
