
$button-heights: (
  small: $base-unit,
  medium: $base-unit * 2,
  large: $base-unit * 3
);

@mixin button-builder($color-map, $colorClassName: '') {
  @each $size, $height in $button-heights {

    @if $size == 'medium' {
      $sizeClassName: '';
    } @else {
      $sizeClassName: '.' + $size;
    }

    a.btn#{$sizeClassName}#{$colorClassName},
    button#{$sizeClassName}#{$colorClassName} {
      display: inline-block;

      text-decoration: none;

      border-radius: 4px;

      height: $height;
      line-height: $height;

      padding: 0 ($height / 2);

      @include bg-color($color-map, base);

      &.disabled,
      &.disabled:hover,
      &.disabled:active {
        @include bg-color($color-map, disabled);

        cursor: default;
      }

      &.hover,
      &:hover {
        @include bg-color($color-map, hover);
      }

      &.active,
      &:active {
        @include bg-color($color-map, active);
      }

      @extend .opensans-w600;

      color: #FFF;

      @include font-size($size);

      border: none;
    }
  }
}

@include button-builder($clr-default);

@include button-builder($clr-primary, '.primary');

@include button-builder($clr-secondary, '.secondary');
